<div class="results-banner-section">
  <div class="container vertical-center" , id="header-container">
    <h1 id="header-title">Alright, <%= current_user.first_name if current_user %>
      ...time to put in the work!</h1>
  </div>
</div>

<br>

  <table class="table" style="width:100%">
    <tr class="thead-dark">
    <th>Exercise</th>
    <th>Sets</th>
    <th>Reps</th>
    <th>Weight</th>
    <th>Rest Time</th>
    <th>Notes</th>
  </tr>

  <% @exercises.each do |exercise| %>


</div>
      <tr>
        <th><%= exercise.name %></th>
        <td>3-4</td>
        <td>8-15</td>
        <td class="input-group"</td>
        <input type="text" class="form-control" aria-describedby="basic-addon2">
        <span class="input-group-addon" id="basic-addon2">lb</span>
        <td>90 sec</td>
        <td></td>
      </tr>
      <% end %>

  </table>
</div>
