/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "bootstrap";

@font-face {
  font-family: "Brother 1816";
  src: url(/assets/Brother-1816-Black.otf) format("truetype");
}

.navbar-default{
  background-color: black;
}

body{
  background-color: white;
}

html{
  width:100%;
  height:100%;
}

.navbar-brand{
  width: 170px;
  left: 15px;
}

.dropdown-menu{
  display: left;
  font-family: "Brother 1816";
}

.index-banner-section {
   position: relative;
   height: 300px;
   margin-bottom: 0px;
   width: 100%;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-image: url(index.jpg);
 }

.options-banner-section {
  position: relative;
  height: 300px;
  margin-bottom: 0px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(options1.jpg);
}

.results-banner-section {
  position: relative;
  height: 300px;
  margin-bottom: 0px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(results.jpg);
}
body,html{
  height: 100%;
}

#header-title{
  color: white;
  font-family: "Brother 1816";
  font-size: 60px;
}

#header-subtitle{
  color: white;
  font-family: "Brother 1816";
  font-size: 20px;
}

#header-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#form{
  font-family: "Brother 1816";
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.mastfoot {
  color: black;
  text-align: center;
}

.input-group{

}

.card-block{
  padding-left: 10px;
  padding-right: 10px,
}

/*for any of the classes that are nested inside login > */

.login > .card{
  width: 22rem;
  margin: 0 auto;
  float: none;
}

.alert{
  text-align: center;
}

.notice{
  text-align: center;
}
